<img src="https://i.imgur.com/FoKB5Z5.png" align="left" width="300" height="250" title="source: imgur.com" /></a>

## Program Code: J620-002-4:2020 

## Program Name: FRONT-END SOFTWARE DEVELOPMENT

## Title :  Exe12 - Confidence Intervals NHANES Exercise

#### Name: 

#### IC Number:

#### Date :

#### Introduction : 



#### Conclusion :

# Exercise 1: Confidence Intervals - NHANES


This exercise, we are going to practice on how to load data, clean/manipulate a dataset, and construct a confidence interval for the difference between two population proportions and means.

We will use the 2015-2016 wave of the NHANES data for our analysis.

For our population proportions, we will analyze the difference of proportion between female and male smokers.  The column that specifies smoker and non-smoker is "SMQ020" in our dataset.

For our population means, we will analyze the difference of mean of body mass index within our female and male populations.  The column that includes the body mass index value is "BMXBMI".

Additionally, the gender is specified in the column "RIAGENDR".

In [1]:
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('Agg')
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [3]:
url = "../data/nhanes_2015_2016.csv"
da = pd.read_csv(url)

### Investigating and Cleaning Data

Create a new column named 'SMQ020x' and store data from column 'SMQ020' with following replacements:

- 1 to "Yes"
- 2 to "No"
- 7 to NaN
- 9 to NaN

0       Yes
1       Yes
2       Yes
3        No
4        No
       ...
5730    Yes
5731     No
5732    Yes
5733    Yes
5734     No
Name: SMQ020x, Length: 5735, dtype: object

Create a new column named 'RIAGENDRx' and store data from column 'RIAGENDR' with following replacements:

- 1 to "Male"
- 2 to "Female"

0         Male
1         Male
2         Male
3       Female
4       Female
         ...
5730    Female
5731      Male
5732    Female
5733      Male
5734    Female
Name: RIAGENDRx, Length: 5735, dtype: object

Drop all NAs from both `SMQ020x` & `RIAGENDRx` and store into a new dataframe named 'dx'. Plot the following crosstab using `pd.crosstab` library.

RIAGENDRx  Female  Male
SMQ020x
No           2066  1340
Yes           906  1413

Replace `dx['SMQ020x']` "Yes" to 1 and "No" to 0.

      SMQ020x RIAGENDRx
0           1      Male
1           1      Male
2           1      Male
3           0    Female
4           0    Female
...       ...       ...
5730        1    Female
5731        0      Male
5732        1    Female
5733        1      Male
5734        0    Female

[5725 rows x 2 columns]

Calculate the 'mean' and 'size' and store into a new dataframe called `dz`

/Users/kuanhoong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

            SMQ020x
               mean  size
RIAGENDRx
Female     0.304845  2972
Male       0.513258  2753

### Constructing Confidence Intervals

Now that we have the population proportions of male and female smokers, we can begin to calculate confidence intervals.  From lecture, we know that the equation is as follows:

$$Best\ Estimate \pm Margin\ of\ Error$$

Where the *Best Estimate* is the **observed population proportion or mean** from the sample and the *Margin of Error* is the **t-multiplier**.

The equation to create a 95% confidence interval can also be shown as:

$$Population\ Proportion\ or\ Mean\ \pm (t-multiplier *\ Standard\ Error)$$

The Standard Error is calculated differenly for population proportion and mean:

$$Standard\ Error \ for\ Population\ Proportion = \sqrt{\frac{Population\ Proportion * (1 - Population\ Proportion)}{Number\ Of\ Observations}}$$

$$Standard\ Error \ for\ Mean = \frac{Standard\ Deviation}{\sqrt{Number\ Of\ Observations}}$$

Lastly, the standard error for difference of population proportions and means is:

$$Standard\ Error\ for\ Difference\ of\ Two\ Population\ Proportions\ Or\ Means = \sqrt{SE_{Proportion\ 1}^2 + SE_{Proportion\ 2} ^2}$$

#### Difference of Two Population Proportions

Calculate the standard error for female

Calculate the standard error for male

Calculate the difference between these two Standard Errors

Calculate the confidence Interval

(-0.23336356545788706, -0.18346243454211297)

#### Difference of Two Population Means

Now we look into the differences between 2 population means

In [34]:
da["BMXBMI"].head()

0    27.8
1    30.8
2    28.8
3    42.4
4    20.3
Name: BMXBMI, dtype: float64

              BMXBMI
                mean       std    size
RIAGENDRx
Female     29.939946  7.753319  2976.0
Male       28.778072  6.252568  2759.0

Calculate the Standard Error for Mean for both female and male

(0.14212523289878048, 0.11903716451870151)

Calculate the difference between 2 Standard Error for Mean

The difference between two means for male and female

Calculate the confidence interval between two population means

(0.798509725476467, 1.5252382745235278)