<img src="https://i.imgur.com/FoKB5Z5.png" align="left" width="300" height="250" title="source: imgur.com" /></a>

## Program Code: J620-002-4:2020 

## Program Name: FRONT-END SOFTWARE DEVELOPMENT

## Title : Exe22 - Bagging and Boosting Exercise

#### Name: 

#### IC Number:

#### Date : 20/7/2023

#### Introduction : 



#### Conclusion :

### Bagging and Boosting Exercise

Reference: (https://www.datacamp.com/community/tutorials/ensemble-learning-python)

## Bagging Method

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
from sklearn.preprocessing import MinMaxScaler

In [2]:
import pandas as pd
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', 
                   header=None)
data.columns = ['Sample code', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape',
                'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
                'Normal Nucleoli', 'Mitoses','Class']

data = data.drop(['Sample code'],axis=1)
print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
data.head()

Number of instances = 699
Number of attributes = 10

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [3]:
data.describe()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [226]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Clump Thickness              699 non-null    int64
 1   Uniformity of Cell Size      699 non-null    int64
 2   Uniformity of Cell Shape     699 non-null    int64
 3   Marginal Adhesion            699 non-null    int64
 4   Single Epithelial Cell Size  699 non-null    int64
 5   Bare Nuclei                  699 non-null    object
 6   Bland Chromatin              699 non-null    int64
 7   Normal Nucleoli              699 non-null    int64
 8   Mitoses                      699 non-null    int64
 9   Class                        699 non-null    int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [5]:
data['Bare Nuclei']

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare Nuclei, Length: 699, dtype: object

In [6]:
data.replace('?',0, inplace=True)
data['Bare Nuclei']

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare Nuclei, Length: 699, dtype: object

In [7]:
# Convert the DataFrame object into NumPy array otherwise you will not be able to impute
values = data.values

# Now impute it

imputedData = imputer.fit_transform(values)

In [8]:
scaler = MinMaxScaler(feature_range=(0, 1))
normalizedData = scaler.fit_transform(imputedData)

In [90]:
# Bagged Decision Trees for Classification - necessary dependencies
from sklearn.model_selection import train_test_split, cross_val_score, RepeatedStratifiedKFold, KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_classification
from numpy import mean
from numpy import std

bag_clf = BaggingClassifier()

In [22]:
# Segregate the features from the labels
X = data.drop(('Class'), axis=1)
y = data['Class']

In [30]:
# accuracy score
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(bag_clf, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.955 (0.025)

## Boosting Method

In [44]:
from sklearn.ensemble import AdaBoostClassifier
seed = 7
num_trees = 70
kfold = model_selection.KFold(n_splits=10, random_state=seed, shuffle=True)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, y, cv=kfold)
print(results.mean())

0.9599378881987578

## Exercise 1 Perform classification using the Titanic dataset using the classifiers that you already know (Dtree and RF)

---

In [45]:
#Preprocessing the entire Titanic dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

t_dataset = pd.read_csv(r'../data_samples2/titanic.csv')
t_dataset

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [46]:
#drop name column
titanic_df = t_dataset.drop(('Name'), axis=1)

In [54]:
#encode categorical data into numerical value
from sklearn import preprocessing

new_sex = {'male': 1, 'female': 0}
titanic_df['Sex'] = titanic_df['Sex'].replace(new_sex)
titanic_df

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,0,38.0,1,0,71.2833
2,1,3,0,26.0,0,0,7.9250
3,1,1,0,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,1,27.0,0,0,13.0000
883,1,1,0,19.0,0,0,30.0000
884,0,3,0,7.0,1,2,23.4500
885,1,1,1,26.0,0,0,30.0000
886,0,3,1,32.0,0,0,7.7500

In [55]:
#create a copy of the cleaned dataset
t_df = titanic_df.copy()

In [81]:
#define dependent variable and independent variable
X = t_df.drop(('Survived'), axis=1)
y = t_df.Survived

print(X.values)
print(y.values)

[[ 3.      1.     22.      1.      0.      7.25  ]
 [ 1.      0.     38.      1.      0.     71.2833]
 [ 3.      0.     26.      0.      0.      7.925 ]
 ...
 [ 3.      0.      7.      1.      2.     23.45  ]
 [ 1.      1.     26.      0.      0.     30.    ]
 [ 3.      1.     32.      0.      0.      7.75  ]]
[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0
 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0 0
 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1 1
 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0 0 0
 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0 1
 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1 1 0
 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0
 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 1 1
 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1
 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 1
 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1 0 1 0
 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1 0 0 0
 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 0 1 0
 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0
 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0 0 0 0
 1 1 1 1 1 0 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0
 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1
 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0]

In [146]:
#Split the dataset into the Training and the Test set. Set the test set to 0.3
from sklearn.model_selection import train_test_split
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [151]:
# Decision Tree object
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

# Train Decision Tree Classifier
clf = clf.fit(X_train, y_train)

# Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct
acc_score = accuracy_score(y_test, y_pred)

print(y_pred)
print("Accuracy:", acc_score)

[1 0 0 0 0 1 0 0 0 0 1 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0
 1 1 1 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 0 1 0 0 0 1 0 0 1 1 1 0
 1 1 1 1 1 0 0 0 0 0 1 1 0 0 1 0 1 1 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 1 0 0 1
 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0
 0 0 1 1 1 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 0 1 1 1 1 0 1 1 1 0 0 0 1 1 1 0 1
 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0
 0 1 0 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 0 1 0 0
 1 0 0 1 0 1 1 0]
Accuracy: 0.7790262172284644

In [168]:
# Random forest
from sklearn.ensemble import RandomForestClassifier

# Create the model with 100 trees
rf_clf = RandomForestClassifier(n_estimators=100)

# Fit on training data
rf_clf.fit(X_train, y_train)

# Actual class predictions
y_pred_rf = rf_clf.predict(X_test)
print(y_pred_rf)

# Probabilities for each class
probabilities = rf_clf.predict_proba(X_test)
print(probabilities.flatten())

acc_score_rf = accuracy_score(y_test, y_pred_rf)
print("Accuracy:", acc_score_rf)

[1 0 0 0 0 1 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0
 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 0 1 0 0 0 1 0 0 0 1 1 0
 0 1 1 0 1 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1
 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0
 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 0 1 1 1 1 0 0 1 1 0 0 0 0 1 1 0 1
 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 0 0 1 1 0
 1 0 1 1 0 0 1 0]
[0.41       0.59       0.84       0.16       0.94       0.06
 1.         0.         0.96       0.04       0.44       0.56
 0.72       0.28       1.         0.         0.4        0.6
 0.59       0.41       0.19       0.81       0.07       0.93
 0.43       0.57       0.96       0.04       0.59       0.41
 0.95183333 0.04816667 1.         0.         0.01       0.99
 0.793      0.207      0.8095     0.1905     0.94       0.06
 0.1        0.9        0.65       0.35       0.77       0.23
 0.86       0.14       0.89       0.11       0.99       0.01
 0.85       0.15       0.84       0.16       0.76       0.24
 0.44       0.56       0.73       0.27       0.47       0.53
 0.75       0.25       0.1        0.9        0.81       0.19
 0.92       0.08       0.24       0.76       0.         1.
 0.06       0.94       0.07       0.93       1.         0.
 0.         1.         0.99       0.01       0.91       0.09
 0.94       0.06       0.84       0.16       0.99       0.01
 0.95       0.05       0.96       0.04       0.98       0.02
 0.93       0.07       0.73666667 0.26333333 1.         0.
 0.17       0.83       0.8255     0.1745     0.37       0.63
 0.15       0.85       0.16       0.84       0.23       0.77
 0.93       0.07       0.21       0.79       0.94       0.06
 0.03       0.97       0.65       0.35       0.93666667 0.06333333
 0.97       0.03       0.14       0.86       0.91483333 0.08516667
 0.99       0.01       0.65333333 0.34666667 0.02       0.98
 0.16       0.84       0.99       0.01       0.57333333 0.42666667
 0.1        0.9        0.04       0.96       0.59       0.41
 0.01       0.99       0.99       0.01       0.99       0.01
 0.99       0.01       0.96       0.04       0.97       0.03
 0.06       0.94       0.04       0.96       0.63       0.37
 0.97       0.03       0.65333333 0.34666667 0.85       0.15
 0.2325     0.7675     0.2        0.8        0.95333333 0.04666667
 0.17       0.83       0.89166667 0.10833333 0.32       0.68
 1.         0.         1.         0.         0.03       0.97
 0.06       0.94       0.85       0.15       0.96533333 0.03466667
 0.39       0.61       0.02       0.98       1.         0.
 1.         0.         0.71       0.29       0.41       0.59
 0.95       0.05       0.82       0.18       0.04       0.96
 0.8185     0.1815     1.         0.         0.8        0.2
 0.88845238 0.11154762 0.95166667 0.04833333 0.55       0.45
 0.4525     0.5475     0.87       0.13       0.7255     0.2745
 0.44       0.56       0.86533333 0.13466667 0.67       0.33
 0.96       0.04       0.34       0.66       0.91       0.09
 0.86       0.14       0.         1.         0.02       0.98
 0.11       0.89       0.85       0.15       0.26       0.74
 0.9485     0.0515     0.91666667 0.08333333 0.93004762 0.06995238
 0.66       0.34       0.96       0.04       0.97       0.03
 0.92       0.08       0.8185     0.1815     0.04       0.96
 0.99       0.01       0.29       0.71       0.76       0.24
 0.43       0.57       0.04       0.96       0.92       0.08
 0.7585     0.2415     0.97       0.03       0.98       0.02
 0.95       0.05       0.05       0.95       0.68       0.32
 0.94       0.06       0.82       0.18       0.18       0.82
 0.91333333 0.08666667 0.04       0.96       0.28       0.72
 0.985      0.015      0.99       0.01       0.29       0.71
 0.99       0.01       0.57       0.43       0.95       0.05
 0.09       0.91       0.81       0.19       0.03       0.97
 0.96       0.04       0.08       0.92       0.04       0.96
 0.04       0.96       0.43588095 0.56411905 0.97       0.03
 0.58       0.42       0.28       0.72       0.22       0.78
 0.99       0.01       0.72059524 0.27940476 0.91       0.09
 0.68       0.32       0.         1.         0.1        0.9
 1.         0.         0.05416667 0.94583333 0.49       0.51
 1.         0.         0.94       0.06       0.8        0.2
 0.77       0.23       0.93       0.07       0.02       0.98
 0.99       0.01       0.95166667 0.04833333 0.11       0.89
 0.93       0.07       0.55       0.45       0.9        0.1
 0.03       0.97       0.62166667 0.37833333 0.02       0.98
 0.02       0.98       0.15       0.85       0.96       0.04
 0.88416667 0.11583333 0.75       0.25       0.7705     0.2295
 1.         0.         0.         1.         0.78       0.22
 0.64       0.36       0.82       0.18       0.91       0.09
 0.09       0.91       0.         1.         1.         0.
 0.8        0.2        0.78       0.22       0.15       0.85
 0.76       0.24       0.89       0.11       0.98       0.02
 1.         0.         0.65333333 0.34666667 0.93       0.07
 0.76       0.24       1.         0.         0.925      0.075
 1.         0.         0.97       0.03       0.89       0.11
 0.71       0.29       0.35       0.65       0.55       0.45
 0.18830952 0.81169048 0.37       0.63       0.4955     0.5045
 0.37       0.63       0.96       0.04       0.7255     0.2745
 0.7        0.3        0.84       0.16       0.51       0.49
 0.14       0.86       0.9975     0.0025     0.26       0.74
 1.         0.         0.96533333 0.03466667 0.07       0.93
 0.01       0.99       0.895      0.105      0.91733333 0.08266667
 0.01       0.99       0.961      0.039      0.96       0.04
 1.         0.         0.04       0.96       0.44       0.56
 0.8255     0.1745     0.42       0.58       0.92       0.08
 0.38       0.62       0.49       0.51       0.98       0.02
 0.62       0.38       0.13       0.87       0.97       0.03      ]
Accuracy: 0.7827715355805244

## Exercise 2 Perform classification using the Titanic dataset using the classifiers that you already know and with feature selection and dimension reduction. Which gives you the best result?

---

In [198]:
#StandardScaler
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()
X_scaled = sc.fit_transform(X)

#PCA & Pick up from the point where dataset has been split
from sklearn.decomposition import PCA 
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_scaled)
X_pca

print(pca.explained_variance_ratio_)

#Decision Tree object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.3, random_state=42)
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
print(y_pred)

# Model Accuracy, how often is the classifier correct?
acc_score = accuracy_score(y_test, y_pred)
print("Accuracy:", acc_score)

[0.29874926 0.29350524]
[0 1 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 1 0
 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0
 0 1 1 0 1 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 1 1 0 0 0 1 0 1 1
 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 1 1 0 1 0 1 0 1
 1 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 0 1 1 0 0 1 1 1 1 0 1
 1 0 0 1 0 0 1 0 0 1 0 0 1 1 1 1 1 1 0 0 0 0 0 1 0 1 0 1 1 1 0 1 0 1 0 0 0
 0 0 1 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0
 0 1 0 1 0 1 1 0]
Accuracy: 0.704119850187266

In [201]:
#rebuild analytical dataset & create a copy of the cleaned dataset
titanic_df
t_df = titanic_df.copy()

#define dependent variable and independent variable
X = t_df.drop(('Survived'), axis=1)
y = t_df.Survived

#Split the dataset into the Training and the Test set. Set the test set to 0.3
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [204]:
# RF Feature Selector
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score

# Create a random forest classifier（10000 trees）
rf_clf = RandomForestClassifier(n_estimators=10000)

# Train the classifier
rf_clf.fit(X_train, y_train)

# Create a selector object that will use the random forest classifier to identify
# features that have an importance of more than 0.15
selector = SelectFromModel(rf_clf, threshold = 0.15)

# Train the selector
selector.fit(X_train, y_train)

# Transform the data to create a new dataset containing only the most important features
# Note: We have to apply the transform to both the training X and test X data.
important_feature_indices = selector.get_support(indices=True)
important_feature_names = X.columns[important_feature_indices]

# Create a new random forest classifier for the most important features
new_rf_clf = RandomForestClassifier(n_estimators=10000)

# Train the new classifier on the new dataset containing the most important features
X = t_df[important_feature_names]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
new_rf_clf.fit(X_train, y_train)

# Apply The Limited Classifier To The Test Data
y_pred = new_rf_clf.predict(X_test)

# View The Accuracy Of Our Limited Feature (2 Features) Model
acc_score = accuracy_score(y_test, y_pred)
print("Accuracy:", acc_score)

Accuracy: 0.7715355805243446

## Exercise 3 Perform classification using the Titanic dataset using bagging and boosting (choose 1 bagging and 1 boosting algo)


---

In [225]:
# Bagging
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import BaggingClassifier

model = BaggingClassifier(base_estimator=KNeighborsClassifier())

titanic_df
t_df = titanic_df.copy()

#define dependent variable and independent variable
X = t_df.drop(('Survived'), axis=1)
y = t_df.Survived

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Unexpected exception formatting exception. Falling back to standard exception

joblib.externals.loky.process_executor._RemoteTraceback:
"""
Traceback (most recent call last):
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\externals\loky\process_executor.py", line 428, in _process_worker
    r = call_item()
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\externals\loky\process_executor.py", line 275, in __call__
    return self.fn(*self.args, **self.kwargs)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\_parallel_backends.py", line 620, in __call__
    return self.func(*args, **kwargs)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\parallel.py", line 288, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\parallel.py", line 288, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\sklearn\utils\parallel.py", line 122, in __call__
    with config_context(**config):
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\contextlib.py", line 281, in helper
    return _GeneratorContextManager(func, args, kwds)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\contextlib.py", line 103, in __init__
    self.gen = func(*args, **kwds)
TypeError: config_context() got an unexpected keyword argument 'enable_metadata_routing'
"""

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\ACER\AppData\Local\Temp\ipykernel_5324\2567125116.py", line 16, in <module>
    n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\sklearn\model_selection\_validation.py", line 562, in cross_val_score
    The target variable to try to predict in the case of
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\sklearn\utils\_param_validation.py", line 211, in wrapper
    """Convert type into human readable string."""
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\sklearn\model_selection\_validation.py", line 309, in cross_validate
    key = "train_%s" % name
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\sklearn\utils\parallel.py", line 65, in __call__
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\parallel.py", line 1098, in __call__
    self.retrieve()
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\parallel.py", line 975, in retrieve
    self._output.extend(job.get(timeout=self.timeout))
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\joblib\_parallel_backends.py", line 567, in wrap_future_result
    return future.result(timeout=timeout)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\concurrent\futures\_base.py", line 458, in result
    return self.__get_result()
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\concurrent\futures\_base.py", line 403, in __get_result
    raise self._exception
TypeError: config_context() got an unexpected keyword argument 'enable_metadata_routing'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\interactiveshell.py", line 2102, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\ultratb.py", line 1310, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\ultratb.py", line 1199, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\ultratb.py", line 1052, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\ultratb.py", line 978, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\ultratb.py", line 878, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\IPython\core\ultratb.py", line 712, in lines
    return self._sd.lines
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "C:\Users\ACER\anaconda3\envs\python-dscourse\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [208]:
# Boosting
#create a copy of the cleaned dataset
from xgboost import XGBClassifier

titanic_df
t_df = titanic_df.copy()

#define dependent variable and independent variable
X = t_df.drop(('Survived'), axis=1)
y = t_df.Survived

#Split the dataset into the Training and the Test set. Set the test set to 0.3
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Apply Xgboost
model = XGBClassifier()

#fit model
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)

# evaluate predictions
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.797752808988764

## Out of all 3 approaches, which gives you the best result?