<img src="https://i.imgur.com/FoKB5Z5.png" align="left" width="300" height="250" title="source: imgur.com" /></a>

## Program Code: J620-002-4:2020 

## Program Name: FRONT-END SOFTWARE DEVELOPMENT

## Title : Exe24 - Naive Bayes Classification Exercise

#### Name: 

#### IC Number:

#### Date : 25/7/2023

#### Introduction : 



#### Conclusion :

## Naive Bayes exercise

---

## Naive Bayes classification walkthrough

---

In [1]:
#Import scikit-learn dataset library
import sklearn as sk
from sklearn import datasets

#Load dataset
wine = datasets.load_wine()

In [21]:
# print the names of the 13 features
print(wine.feature_names)

# print the label type of wine(class_0, class_1, class_2)
# print(wine.keys())
print(wine.target_names)

['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']
['class_0' 'class_1' 'class_2']

In [44]:
# print data(feature)shape
import pandas as pd
import numpy as np

df = pd.DataFrame(data = wine.data, columns = wine.feature_names)
df.shape

(178, 13)

In [45]:
# print the wine data features (top 5 records)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [49]:
# print the wine labels (0:Class_0, 1:class_2, 2:class_2)
print(wine.target_names)

['class_0' 'class_1' 'class_2']

In [50]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X = df
y = wine.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

#Train the model using the training sets
model.fit(X_train, y_train);

#Predict the response for test dataset
y_pred = model.predict(X_test)
y_pred

array([0, 0, 2, 0, 1, 0, 1, 2, 1, 2, 0, 2, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 2, 2, 2, 1, 1, 1, 0, 0, 1, 2, 0, 0, 0])

In [54]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score

# Model Accuracy, how often is the classifier correct?
accuracy_score(y_test, y_pred)

1.0

## Exercise 1 : Perform NB classification using the Iris dataset

---

In [ ]:
## Exercise 1 : Perform NB classification using the iris dataset

# Load libraries
from sklearn import datasets
import matplotlib.pyplot as plt 

# Load iris dataset
iris = datasets.load_iris()

# Create feature matrix


# Create target vector

# View the first observation's feature values

## Exercise 2 : Perform NB classification using the Titanic dataset

---